@font-face {
    font-family: "julius";
    src: url("fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
    font-family: "baskerville";
    src: url("fonts/GoogleFonts-LibreBaskerville/LibreBaskerville-Italic.ttf");
}

@font-face {
    font-family: "baskerville_2";
    src: url("fonts/GoogleFonts-LibreBaskerville/LibreBaskerville-Regular.ttf");
}

/* header - inicio */

header.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 300px 40px 0px;
    background-image: url("imagens/ms_jackson.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 0.95;
}

header.banner h1 {
    font: 3.2em "julius";
    padding-bottom: 5px;
    text-transform: uppercase;
}

header.banner h2 {
    font-family: "baskerville";
    padding: 5px 10px;
}

header.banner h1, header.banner h2, header.banner button {
    color: black;
    background-color: white;
    opacity: 0.95;
    cursor: alias;
}

header.banner button {
    font: 0.9em "julius";
    margin-top: 15px;
    border: 0;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

@media(max-width: 820px) {
    header.banner {
        padding: 50px 0px;
    }
}

@media(max-width: 530px) {
    header.banner h1 {
        font: 2.2em "julius";
    }

    header.banner h2 {
        font-size: 1.2em;
    }

    header.banner button {
        font-size: 0.8em;
    }
}

@media(max-width: 350px) {
    header.banner h1 {
        font: 1.6em "julius";
    }

    header.banner h2 {
        font-size: 0.8em;
    }

    header.banner button {
        font-size: 0.6em;
        padding: 10px 30px;
    }
}

/* header - fim */


/* main - inicio */

div.flex-pag {
    display: flex;
}

div.main {
    width: 65%;
    margin: 0px auto;
}

.main-article {
    padding: 30px 80px;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(245, 245, 245, 0.534);
    color: rgba(0, 0, 0, 0.85);
}

.main-article h3 {
    font: 1.8em "julius";
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: white;
    margin-bottom: 7px;
}

.main-article p {
    font: 1.1em "baskerville_2";
    line-height: 30px;
}

#zen-participation, #zen-benefits {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


@media(max-width: 1200px) {
    div.flex-pag {
        flex-direction: column;
    }

    div.main, aside.sidebar {
        width: 100%;
    }
}

/* main - fim */


/* sidebar - inicio */

aside.sidebar {
    width: 35%;
}

.wrapper {
    width: 100%;
}

div.design-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

div.design-selection h3 {
    font: 2em "baskerville";
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

div.design-selection li {
    margin-bottom: 40px;
}

div.design-selection li a.design-name {
    display: block;
    font: 1em "julius";
    color: white;
}

div.design-selection li a.designer-name {
    font: 0.9em "julius";
}

/* sidebar - fim */
