@font-face {
    font-family: "julius";
    src: url("fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
    font-family: "baskerville";
    src: url("fonts/GoogleFonts-LibreBaskerville/LibreBaskerville-Italic.ttf");
}

header.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 100px 0px;
}

header.banner h1 {
    font: 3.2em "julius";
    padding-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
}

header.banner h2 {
    font-family: "baskerville";
    color: rgba(0, 0, 0, 0.55);
}

header.banner h1, h2 {
    cursor: alias;
}

header.banner button {
    font: 0.9em "julius";
    margin-top: 15px;
    border: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
}


@media(max-width: 530px) {
    header.banner h1 {
        font: 2.2em "julius";
    }

    header.banner h2 {
        font-size: 1.2em;
    }

    header.banner button {
        font-size: 0.8em;
    }
}

@media(max-width: 350px) {
    header.banner h1 {
        font: 1.6em "julius";
    }

    header.banner h2 {
        font-size: 0.8em;
    }

    header.banner button {
        font-size: 0.6em;
        padding: 10px 30px;
    }
}
